{% extends "base.html" %}
{% load i18n allauth %}

{% block title %}{% trans "Contraseña cambiada" %}{% endblock %}

{% block content %}
<section id="travel-tour-details" class="travel-tour-details section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="booking-section" id="booking" data-aos="fade-up" data-aos-delay="600">
      <div class="booking-card text-center">

        <h2 class="mb-4">{% trans "Cambio de contraseña exitoso" %}</h2>

        <p class="mb-4">
          {% trans "Tu contraseña ha sido actualizada correctamente." %}
        </p>

        <a href="{% url 'account_login' %}" class="btn-submit">
          {% trans "Iniciar sesión" %}
        </a>

      </div>
    </div>
  </div>
</section>
{% endblock content %}
