{% extends "base.html" %}
{% load allauth i18n %}
{% load allauth i18n socialaccount static %}
{% block title  %}Regístrate {% endblock %}

{% block content %}
 <section id="travel-tour-details" class="travel-tour-details section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
         <div class="booking-section" id="booking" data-aos="fade-up" data-aos-delay="600">
            <div class="booking-card">
              <h2>Regístrate</h2>
               {% setvar link %}
               <a href="{{ login_url }}">
               {% endsetvar %}
               {% setvar end_link %}
               </a>
               {% endsetvar %}

             {% if not SOCIALACCOUNT_ONLY %}
             {% url 'account_signup' as action_url %}
             {% element form form=form method="post" action=action_url tags="entrance,signup" %}
             {% slot body %}
             {% csrf_token %}
             {% element fields form=form unlabeled=True %}
             {% endelement %}
             {{ redirect_field }}
             {% endslot %}
             {% slot actions %}
                <button type="submit" class="btn-submit">Registrarse</button>

            {% endslot %}
            {% element p %}
                Ya tengo una cuenta {{ link }}<strong>Iniciar sesión</strong>{{ end_link }}
            {% endelement %}
            {% endelement %}
            {% endif %}

              {% if SOCIALACCOUNT_ENABLED %}
                <div class="social-login">
                  <a href="{% provider_login_url 'google' process='login' %}" class="btn-google">
                  <img width="48" height="48" src="https://img.icons8.com/color/48/google-logo.png" alt="google-logo"/>
                  <strong> Inicio de sesión con Google </strong>
                  </a>
                </div>
              {% endif %}
            </div>
         </div>
      </div>
</section>
{% endblock content %}
